//Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

//Variables
@import "variables";

//Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

.calander .col-md {
    padding: 0;
}

.calander {
    margin: 20px;
}

.day-date {
    width: 100%;
    background: #dee2e6;
    padding: 5px;
}

.day-content {
    width: 100%;
    padding: 5px;
    min-height: 100px;
    word-wrap: break-word;
}

.test {
    border-width: 0 0 0 2px;
    border-style: solid;
    padding: 2px;
    margin: 3px 0;
    background: #eee;
}

.expand {
    margin-right: 2px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }