//Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

//Variables
@import "variables";

//Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

.calander .col-md {
    padding: 0;
}

.calander {
    margin: 15px;
}

.day-date {
    width: 100%;
    background: #dee2e6;
    padding: 5px;
}

.day-content {
    width: 100%;
    padding: 5px;
    min-height: 100px;
    word-wrap: break-word;
}

.test {
    border-width: 0 0 0 2px;
    border-style: solid;
    padding: 2px;
    margin: 3px 0;
    background: #eee;
}

.mr-0 {
    margin-right: 0;
}

.ml-auto {
    margin-left: auto;
}

.d-block {
    display: block;
}

.expand {
    margin-right: 2px;
}

p {
    margin-bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    border-radius: 5px;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.pfix {
    margin-bottom: 0;
}

.class-select {
    margin-top: 15px;
}

.class-select-in {
    width: 100%;
}

@media (min-width: 768px) {
    .class-select-in {
        width: 300px;
    }
}


